h1 {
    font-family: Cursive;
    font-size: 50px;
    color: rgb(10, 116, 255);
    text-align: center;
    padding-right: 150px;
    padding-left: 230px;
}


a {
    padding: 15px;
    margin-top: 20px;
    margin-left: 140px;
    border-left: 4px solid #0077ff;
    background-color: #a2c8f385;

}

#linea {
    padding: 15px;
    margin-top: 20px;
    margin-left: 130px;
    border-left: 4px solid #0077ff;
    background-color: #a2c8f385;

}

#c {
    cursor: pointer;

}




form {

    color: rgb(79, 105, 255);
    text-align: center;
    padding: 15px 50px;
    cursor: pointer;
    padding-right: 150px;
    padding-left: 230px;
}


#MasAlta {

    color: white;

}