h1 {
	font-family: Cursive;
	font-size: 50px;
    color: rgb(10, 116, 255);
    text-align: left;

    margin-top: -35px;
    margin-left: 145px;
}

p {
	font-family: Cursive;
	font-size: 20px;
    color: white;
    text-align: center;

}

a {
    padding: 15px;    
    margin-top: 20px;
    margin-left: 140px;
    border-left: 4px solid #0077ff;
    background-color: #a2c8f385 ;
    
}

label {
    padding: 15px;    
    margin-top: 20px;
    margin-left: 130px;
    border-left: 4px solid #0077ff;
    background-color: #a2c8f385;
    
}

div {

    margin-top: 20px;
    margin-left: 140px;

}


form {

font-family: Cursive;
color: white;
border-radius: var(--border-radius);
text-align: center;

}

.btn-primary {

    font-family: Cursive;
    color: rgb(255, 255, 255);
    background-color: blue;
    border-radius: 20px;
    border-color: blue;
    text-align: center;
}


#MasAlta {

color: white;

}